* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;

}

body {
    background: #000000;
    background: radial-gradient(circle farthest-corner at center center, #000000 30%, #4b9aaa 400%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #000000 30%, #4b9aaa 400%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #000000 30%, #4b9aaa 400%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body div[class*='container'] {
    margin: 50px;
}
